html {
  margin: 0px;
}
body {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  background: url(//s3.amazonaws.com/bigdans/bg_stripes.png);
  font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
  font-weight: 100;
  font-size: 18px;
  color: #202020;
}
.bd-header{
  background: url(//s3.amazonaws.com/bigdans/danheader.png);
  height: 336px;
}

.sociallinks {
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: -1px -1px 2px #000;
}

.sociallink:link {
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 2px #fff;
  
}

.sociallink:hover {
  text-decoration: none;
  color: blue;
  text-shadow: -1px -1px 2px #fff;
}

.bd-open7days{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: 0px -60px;
  height: 42px;
  margin-bottom: 20px;
}

.beststeaks_heading{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: 0px -102px;
  height: 100px;
  width: 350px;
}
h3{
  text-shadow: 0px 1px 0px #737373;
  color: #202020;
  font-size: 30px;
  font-family: cursive, Helvetica, Verdana, Arial, sans-serif;
  text-align: center;
}
.footlink{
  color: #686868;
  text-decoration: none;
}
/***************
  Menu Bar
***************/
.nav_item{
  height: 60px;
  float: left;
  position: absolute;
  position: relative;
  top: 209px;
  cursor: pointer;
}
.nav_item:hover{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
}
.home_nav{
  width: 115px;
  left: 354px;
}
.home_nav:hover{
  background-position: 0px 0px;
}
.menu_nav{
  width: 124px;
  left: 354px;

}
.menu_nav:hover{
  background-position: -115px 0px;
}
.find_nav{
  width: 144px;
  left: 354px;

}
.find_nav:hover{
  background-position: -239px 0px;
}
.catering_nav{
  width: 175px;
  left: 373px;

}
.catering_nav:hover{
  background-position: -383px 0px;
}
/***************
  Top Content
***************/
.top_content{
  margin-top: 0;
}
.top_content_head{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: 0px -102px;
  width: 350px;
  height: 100px;
  margin-left: 40px;
  float: left;
}
.bd-video{
  background-color: #dddddd;
  float: right;
  margin-right: 30px;
  width: 450px;
  height: 253px;
  padding: 5px;
  margin-bottom: 10px;
}
.upper-text {
  clear: left;
  padding-right: 10px;
}
/***************
  Lower Content
***************/
.lower_content_head{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: 700px -102px;
  width: 350px;
  height: 100px;
  margin-right: 130px;
  margin-left: 490px;
}
.polaroids{
  background: url(//s3.amazonaws.com/bigdans/dansprite02.png);
  background-position: 0px 0px;
  float: left;
  width: 375px;
  height: 426px;
  margin-right: 15px;
}

.menustory {
  clear: both;
  margin-top: 40px;
}

#thereistrulynoplacelikehome {
  text-align: center;
  color: white;
  font-family: artifika, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  text-shadow: 0px 2px 1px black;
  text-decoration: none;  
}

.story {
  text-align: center;
  
}

div.discover_ok {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 40px;
}
div.discover_ok a {
  text-shadow: 0px 2px 1px black;
  text-decoration: none;
  color: white;
}
div.discover_ok h4 {
  letter-spacing: 1px;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 5px;
}
/***************
  Find Us
***************/
.come_and_see{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png) 350px -102px;
  width: 350px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.contact_view{
  width: 780px;
  height: 425px;
  margin-left: auto;
  margin-right: auto;
  background: url(//s3.amazonaws.com/bigdans/dancontact1.png);
  margin-bottom: 50px;
}
.contact_wrap{
  text-align: center;
  width: 540px;
  height: 400px;
  margin-left: 220px;
  padding-top: 1px;
  font-family: Artifika;
  font-size: 30px;
}
/******** Contact Info ********/
p.head{
  margin-top: 10px;
  font-size: 40px;
  margin-bottom: 15px;
}
p.address{
  margin-top: 5px;
}
p.phonenum{
  margin-top: 0px;
}
a.email_link{
  color: #000659;
  text-decoration: none;
}
.map_view{
  margin-left: 37px;
}
.map_frame{
  float: left;
  background: url(//s3.amazonaws.com/bigdans/dansprite03.png);
  width: 450px;
  height: 383px;
}
.map_wrap{
  margin-left: 18px;
  margin-top: 20px;
}
.find_us{
  float: left;
  width: 392px;
  margin-left: 25px;
}
.arrows_and_words{
  width: 392px;
  height: 231px;
  background: url(//s3.amazonaws.com/bigdans/dansprite03.png) -450px 0px;
}
.facebook_link{
  float: left;
}

.twitter_link {
  float: left;
  margin: 0 20px 0 50px;
}
/***************
  Menu Page
***************/
.floatingNav{
    background-color: #6f0000;
    position:absolute;
    top:330px;
    width:940px;
    z-index:100;
    height: 42px;
}
.menu_catigory{
  margin-bottom: 50px;
}
.menu_cat_head{
  height: 120px;
  width: 700px;
  background: url(//s3.amazonaws.com/bigdans/dansprite04.png);
  margin-left: auto;
  margin-right: auto;
}
.menu_float_item{
  margin-top: 10px;
  float: left;
  text-align: center;
  font-family: Artifika;
  width: 134px;
}
.menu_float_link{
  color: #ddd;
  text-decoration: none;
}
/*
.float_app{}
.float_salad{}
.float_burgers{}
.float_steaks{}
.float_favoites{}
.float_kids{}
.float_desert{}
*/
.appetite{
}
.hotbar {
  margin-top: 50px;
  background-position: 0px -840px;
}
.salad{
  background-position: 0 -120px;
}
.burgers{
  background-position: 0px -240px;
}
.steaks{
  background-position: 0px -360px;
}
.entrees{
  background-position: 0px -480px;
}
.kids{
  background-position: 0px -600px;
}
.desserts{
  background-position: 0px -720px;
}
.menu_cat_head_text{
  font-family: Artifika;
  font-size: 14px;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
.menuitem{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-family: Artifika;
}
.menuitem_title{
  float: left;
  font-size: 24px;
}
.menu_price_title_separator{
  border-color: #343434;
  border-style: dotted;
  border-left-width: 0px;
  border-bottom-width: 2px;
  border-right-width: 0px;
  border-top-width: 0px;
  float: left;
  height: 20px;
  width: auto;
  margin-left: 15px;
}
.menuitem_price{
  float: right;
  font-size: 18px;
  text-align: right;
  margin-bottom: 5px;
}
.menuitem_description{
  clear: both;
  font-family: Helvetica;
  margin-bottom: 5px;
  margin-left: 20px;
  padding-top: 0px;
  font-size: 14px;
}
.menuitem_extra{
  font-family: Helvetica;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 12px;
}
.menu_catigory p{
  margin-top: 5px;
  margin-bottom: 5px;
}
/*******************************************
    Hot Bar
*******************************************/
div.hot-bar {
  border-color: #5f0000;
  border-width: 2px;
  border-style: solid;
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #d3c500;
}
div.hot-bar-wrap {
  height: 50px;
  margin-bottom: 50px;
}
/***************
  Catering
***************/
.catering_head{
  text-align: center;
  font-family: Artifika;
  font-size: 30px;
  margin-top: 25px;
}
a.cater_mail{
  text-decoration: none;
  color: black;
}
.text_block{
  float: left;
  width: 700px;
  margin-left: 20px;
}
.image_block{
  float: left;
  width: 220px;
}
.catering_img{
  width: inherit;
  height: 155px;
  margin-top: 25px;
}
.catering_lower{
  margin-top: 40px;
  font-size: 20px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.c_img1{
  background: url(//s3.amazonaws.com/bigdans/dansprite02.png) -380px 0px;
}
.c_img2{
  background: url(//s3.amazonaws.com/bigdans/dansprite02.png) -380px -155px;
}
.c_img3{
  background: url(//s3.amazonaws.com/bigdans/dansprite02.png) -380px -310px;
}
.c_img4{
  background: url(//s3.amazonaws.com/bigdans/dansprite02.png) -600px 0px;
}
.c_img5{
  background: url(//s3.amazonaws.com/bigdans/dansprite02.png) -600px -155px;
}
.catering_head_img{
  margin-top: 25px;
  width: 350px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
}
.catering_head_img_wide{
  margin-top: 45px;
  width: 460px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.cater_text{
  font-size: 20px;
}
.c_head1{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png) 0px -202px;
}
.c_head2{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png) -350px -202px;
}
.c_head3{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png) -700px -202px;
}
.c_head4{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png) 0px -302px;
}
/***************
  Pic Ribbon
***************/
.pic_ribbon{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: 0px -402px;
  height: 30px;
  width: 960px;
}
.pic_ribbon_pic{
  float: left;
  height: 106px;
  width: 188px;
}
.pic1{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: 0px -432px;
}
.pic1:hover{
  background-position: 0px -574px;
}
.pic2{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: -188px -432px;
}
.pic2:hover{
  background-position: -188px -574px;
}
.pic3{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: -376px -432px;
}
.pic3:hover{
  background-position: -376px -574px;
}
.pic4{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: -564px -432px;
}
.pic4:hover{
  background-position: -564px -574px;
}
.pic5{
  background: url(//s3.amazonaws.com/bigdans/dansprite01a.png);
  background-position: -752px -432px;
}
.pic5:hover{
  background-position: -752px -574px;
}
.pic_enlarge_instruc{
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.pic_more_pics{
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.pic_more_pics a{
  color: black;
}

.likey {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	text-decoration: none;
	font-family: Artifika;
	text-shadow: 2px 2px 2px #333;
}



.foot{
  clear: both;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #7c7c7c;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
/***************
  Random Stuff
***************/
.clear{clear:both;}
.pad_15{margin-bottom:15px;}
.push_44{margin-top:44px;}
.jslink{cursor:pointer;}
.center{margin-left:auto;margin-right:auto;}
.hide{display:none;}
strong{font-weight: bold;}

